:root {
    --BackgroundColor: #1d1d27;
    --NavColor: #0a4773;
    --TextColor: #eefbfb;
    --HoverColor: #003565;
}

Body {
    background-color: var(--BackgroundColor);
    color: var(--TextColor);
    font-family: "Gantari", sans-serif;
    font-weight: normal;
    margin: 0;
}