
:root {
    --ActiveColor: #78abdc;
    --ResumeColor: #1d1d27;
}

.TopNav {
    margin: 0;
    display: grid;
    background-color: var(--NavColor);
    width: 100%;
    height: auto;
    grid-template-columns: 1fr 1fr 1fr;
}

.TopName {
    grid-column-start: 1;
    align-items: center;
    margin-left: 60px;
    margin-right: 20px;
}

.TopTitle {
    grid-column-start: 2;
    align-content: center;
    justify-content: center;
    margin: 0 20px;
}

.TopTitle h2 {
    text-align: center;
}

.TopLinks {
    grid-column-start: 3;
    align-content: center;
    margin-left: 20%;
}

.TopLinks a {
    color: var(--TextColor);
    text-decoration: none;
    padding: 10px;
    margin-left: 15px;
    margin-right: 10px;
    border-radius: 10px;
    font-size: large;
}

.TopNav a:hover {
    background-color: var(--HoverColor);
    box-shadow: 2px 5px 3px var(--BackgroundColor);
    cursor: pointer;
}
.TopNav a:active {
    transform: translate(5px,2px);
    background-color: var(--ActiveColor);
    box-shadow: none;
    scale: 0.95;
}

.TopNav li{
    display: inline;
}

.UnderLine {
    width: 100%;
    height: 10px;
    border-bottom: 2px solid var(--HoverColor);
}