:root {
    --HoverColor: #003565;
    --ResumeColor: #2b303c;
}

/*.Offset {*/
/*    height: 70px;*/
/*}*/

/*@media screen and (max-width: 780px){*/
/*    .Offset {*/
/*        height: 120px;*/
/*    }*/
/*}*/

/*@media screen and (max-width: 420px){*/
/*    .Offset {*/
/*        height: 140px;*/
/*    }*/
/*}*/

.Outline {
    border: 1px solid var(--TextColor);
    border-radius: 10px;
    margin: 15px;
    background-color: var(--ResumeColor);
}

.ResumeHeader {
    text-align: center;
    font-weight: lighter;
    font-size: 48px;
    margin: 15px;
}

.ResumeContainer {
    display: grid;
    width: 90%;
    height: auto;
    grid-template-columns: 3fr 1fr ;
    grid-template-rows:  100px auto;
    margin-left: 30px;
    margin-right: 30px;
    padding: 5px 15px;
}

.EducationContainer {
    display: grid;
    width: 90%;
    height: auto;
    grid-template-columns: 3fr 1fr  ;
    grid-template-rows:  100px repeat(2,auto);
    margin-left: 30px;
    margin-right: 30px;
    padding: 5px 15px;
}

.EducationContainer p {
    font-style: italic;
}

.ProjectContainer {
    display: grid;
    width: 90%;
    height: auto;
    grid-template-columns: 3fr 1fr ;
    grid-template-rows:  100px repeat(4,auto);
    margin-left: 30px;
    margin-right: 30px;
    padding: 5px 15px;
}

.HeadLine {
    color: var(--TextColor);
    height: 60%;
    grid-column-start: 1;
    grid-column-end: 4;
    border-bottom: 1px solid var(--HoverColor);
}

.HeadLine h1 {
    font-size: xx-large;
    height: auto;
    grid-row-start: 1;
    grid-row-end: 2;

}

.Education1 {
    grid-row-start: 2;
    grid-row-end: 3;
}

.Education2 {
    grid-row-start: 3;
    grid-row-end: 4;
}

.EducationSideBar1 {
    grid-column-start: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    text-align: right;
}
.EducationSideBar2 {
    grid-column-start: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    text-align: right;
}

.EducationBody p {
    font-style: italic;
    font-size: larger;
}

.Project1 {
    grid-row-start: 2;
    grid-row-end: 3;
}

.Project2 {
    grid-row-start: 3;
    grid-row-end: 4;
}

.Project3 {
    grid-row-start: 4;
    grid-row-end: 5;
}

.Project4 {
    grid-row-start: 5;
    grid-row-end: 6;
}

.ResumeBody p {
    font-style: italic;
    font-size: larger;
}

.ResumeBody a{
    font-weight: bold;
}

.ResumeBody li{
    font-size: large;
    margin-top: 5px;
}



.ProjectSideBar1 {
    grid-column-start: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    text-align: right;
}

.ProjectSideBar2 {
    grid-column-start: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    text-align: right;
}

.ProjectSideBar3 {
    grid-column-start: 2;
    grid-row-start: 4;
    grid-row-end: 5;
    text-align: right;
}

.ProjectSideBar4 {
    grid-column-start: 2;
    grid-row-start: 5;
    grid-row-end: 6;
    text-align: right;
}

.projects {
    font-style: italic;
    font-size: medium;
}



